<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="stdout-appender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] %m%n"/>
		</layout>
	</appender>

  <appender name="web-appender" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${web.root}/WEB-INF/log/web.log"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %X{RemoteAddress} [%-5p] %c - %m%n"/>
    </layout>
  </appender>
  
  <appender name="debug-appender" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${web.root}/WEB-INF/log/debug.log"/>
    <param name="MaxFileSize" value="1024KB"/>
    <param name="MaxBackupIndex" value="1"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%X{RemoteAddress} [%-5p] %m%n"/>
    </layout>
  </appender>

	<!-- Root Logger -->
	<root>
		<level value="info"/>
		<appender-ref ref="stdout-appender"/>
		<appender-ref ref="web-appender"/>
		<appender-ref ref="debug-appender"/>
	</root>
	
</log4j:configuration>
